@import url("normalize.css");

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-color: rgb(50, 50, 50);
  font-family: sans-serif;
  color: white;
  padding: 0;
  width: 100%;
  height: 100%;
}


a {
  text-decoration: none;
  color: #9d9d9d;
}

a:hover {
  color: white;
}

button {
  color: rgb(30,30,30);
  background-color: #9d9d9d;
  border-radius: 5px;
  border: none;
  height: 32px;
  padding: 4px 16px;
  margin: 10px 0;
  text-shadow: rgb(100,100,100) 0 1px 0;
}

button:hover {
  color: black;
  background-color: rgb(120,120,120);
}

button:active {
  color: darkolivegreen;
  background-color: rgb(120,120,120);
}

header {
  min-height: 50px;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

h1, h2 {
  font-family: 'Bangers', cursive;
  margin: 0;
}

h1 {
  font-size: 3rem;
  text-shadow:
    1px 1px 1px #000,
    5px 5px 8px rgb(30,30,30);
}

li {
  list-style: none;
}

nav {
  width: auto;
  float: left;
}


footer {
  padding: 15px 15px;
  margin: auto;
  height: 20%;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

footer p {
  margin-left: 20px;
  font-size: .9rem;
  color: #9d9d9d;
  line-height: 1.2rem;
}

footer a {
  color: lightslategray;
}

img {
  height: 100%;
  width: auto;
}

main {
  min-height: 800px;
  position: relative;
/*  padding: 15px 0;*/
}

main p {
  font-size: 2rem;
}

fieldset {
/*  float: left;*/
margin: 20px;
background-color: rgb(50,50,50);
}

.wrapper {
  margin: 0 auto;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  width: 300px;
}

.navbar {
}

.nav {
  margin: 0;
  float: left;
}

.nav>li {
  float: left;
  position: relative;
  display: block;
  padding: 0 10px;
}

.nav>li>a {
  display: block;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  float: left;
  font-size: 1.2rem;
  margin: 0;
  padding: 15px;
}

.current {
  color: white;
  font-weight: bold;
}

#controls {
  min-height: 800px;
  height: 100%;
  padding: 50px;
  float: left;
  background-color: rgba(40,40,40,0.5);

/*  box-shadow:
  0 0 0 5px hsl(0, 0%, 10%),
  0 0 0 10px hsl(0, 0%, 20%);*/
}

/*************************
Visualiztion Display
**************************/

#display {
  min-width: 500px;
  margin: 0 auto;
  padding: 240px 40px;
  float: left;
  position: relative;
}

.blockFrame {
  height: 220px;
  width: 20px;
  float: left;
  margin-left: 20px;
  position: relative;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

.blockItem {
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: black;
}

.showTransitions {
  transition: all 0.6s ease-in-out;
}

.faded {
  opacity: 0.3;
}

.hidden {
  visibility: hidden;
}

.raised {
  bottom: 240px;
}

.lowered {
  bottom: -240px;
}

/*************************
Grid Sizing and Postioning
**************************/

.height1 {
  height: 40px;
}

.height2 {
  height: 60px;
}

.height3 {
  height: 80px;
}

.height4 {
  height: 100px;
}

.height5 {
  height: 120px;
}

.height6 {
  height: 140px;
}

.height7 {
  height: 160px;
}

.height8 {
  height: 180px;
}

.height9 {
  height: 200px;
}

.height10 {
  height: 220px;
}

.shiftLeft1 {
  margin-left: -20px;
}

.shiftLeft2 {
  margin-left: -60px;
}

.shiftLeft3 {
  margin-left: -100px;
}

.shiftLeft4 {
  margin-left: -140px;
}

.shiftLeft5 {
  margin-left: -180px;
}

.shiftLeft6 {
  margin-left: -220px;
}

.shiftLeft7 {
  margin-left: -260px;
}

.shiftLeft8 {
  margin-left: -300px;
}

.shiftLeft9 {
  margin-left: -340px;
}

.shiftLeft10 {
  margin-left: -380px;
}

.shiftRight1 {
  margin-right: -20px;
}

.shiftRight2 {
  margin-right: -60px;
}

.shiftRight3 {
  margin-right: -100px;
}

.shiftRight4 {
  margin-right: -140px;
}

.shiftRight5 {
  margin-right: -180px;
}

.shiftRight6 {
  margin-right: -220px;
}

.shiftRight7 {
  margin-right: -260px;
}

.shiftRight8 {
  margin-right: -300px;
}

.shiftRight9 {
  margin-right: -340px;
}

.shiftRight10 {
  margin-right: -380px;
}

.rightSideGap {
  margin-right: 40px;
}

/*************************
Media Queries
**************************/

@media (max-width: 900px) {

  .wrapper {
/*    padding 5px;*/
  }

  #controls {
    min-height: 300px;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgb(30,30,30);
  }

  #display {
    padding: 20px 0;
  }

}

@media (max-width: 480px) {

  .wrapper {
    padding: 5px;
  }

  #controls {
    min-height: 250px;
    padding: 0;
  }

  #display {
    padding: 20px 0;
  }

  .blockFrame {
    margin-left: 15px;
    width: 15px;
  }

  .blockItem {
    font-size: small;
  }

}